.onMetLeFond{
  background-color: black ;
  height: 100vh ;
}
.laChanson{
  // border: 1px solid white ;
  height: 75vh;
}
.espaceTop{
  height: 10vh;
  // border: 1px solid white ;
}
.laPlayliste{
  height: 80vh ;
  // border: 1px solid white ;
}
.Chanson{
  height: 15vh ;
  border: 1px solid white ;
}
.tuMetImage {
  height: 80vh ;
  border: 1px solid white ;
}
.tuMetPlayliste{
  height: 10vh ;
  border: 1px solid white ;
}
.espaceImagePlayliste{
  height: 10vh ;
  // border: 1px solid white ;
}
.Like{
  height: 15vh ;
  // border: 1px solid white ;
}
.espaceEntreChanson{
  height: 3vh;
  // border: 1px solid white
}
.espacePlayTop{
  height: 7vh ;
  // border: 1px solid white ;
}
